name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/fastapi-async-storages
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv and setup the python version
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync

      - name: Build wheel
        run: uv build

      - name: Publish package
        run: uv publish
